{% extends 'base.html' %}

{% block title %}Forget Password{% endblock %}

{% block content %}
        <div class="container mt-4">
        {% include 'includes/alerts.html' %}
        <form action="{% url 'forget_password' %}" method="post" style="background-color: LightGray; padding: 25px;">
             {% csrf_token %}
             <div class="row">
                 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                     <div class="mb-3">
                         <label class="form-label" for="email">Adres Email</label><br>
                         <input type="email" id="email" class="form-control" name="email" placeholder="Podaj swój adres email">
                     </div>
                 </div>
             </div>
             <br>
             <input class="btn btn-outline-dark" type="submit" value="Submit">
        </form>
    </div>
{% endblock %}