<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand nav-header" href="#" aria-readonly="true">Pracownia artystyczna sefory</a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/' %}active{% endif %}" style="margin-right: 1030px;" aria-current="page" href="{% url 'dashboard' %}">Strona główna</a>
        </li>
      </ul>

    <ul class="navbar-nav">
    {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link disabled">Welcome {{ user.username }}</a>
        </li>
        <li class="nav-item">
            {% if user.role == 1 %}
                <a class="nav-link {% if 'add_product' in request.path %}active{% endif %}" href="{% url 'add_product' %}">Add new product</a>
            {% endif %}
        </li>
        <li class="nav-item">
            <a class="nav-link {% if 'liked_products' in request.path %}active{% endif %}" href="{% url 'liked_products' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bag-heart-fill" viewBox="0 0 16 16" style="margin-bottom: 4px">
                    <path d="M11.5 4v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5ZM8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1Zm0 6.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <span class="badge badge-danger" id="count-likes">{{ likes_counter }}</span>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if 'edit_account' in request.path %}active{% endif %}" href="{% url 'edit_account' %}">Edit Account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}" onclick="return confirm('Are you sure you want to logout?')">Logout</a>
        </li>
    {% else %}
        <li class="nav-item">
             <a class="nav-link {% if 'forget_password' in request.path %}active{% endif %}" href="{% url 'forget_password' %}">Forgot Password?</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if 'login' in request.path %}active{% endif %}" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if 'register' in request.path %}active{% endif %}" href="{% url 'register' %}">Register</a>
        </li>
    {% endif %}
    </ul>
  </div>
</nav>